<div>
  <% form_for :user, :url => session_path do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.submit 'Login' %>
  <% end %>
</div>
<div>
  To resend your activation email, plase follow this link:
  <%= link_to 'Resend', new_activation_path %>
</div>
