<h2>
    <%= @recipe.name %>
</h2>
<div>
    by <%= link_to "#{@recipe.user.username}", user_path(@recipe.user) %>
</div>
<div><%= @recipe.course.humanize %></div>
<div>Serves: <%= @recipe.portions %></div>
<div>
  <ul style="margin-top: 10px;">
    <% @recipe.amounts.each do |a| %>
      <li>
        <%= a.amount%>
        <%= a.ingredient.name%>
      </li>
    <% end %>
  </ul>
</div>
<div style="padding: 10px 10px 10px; border-left-width: 50px;">
  <%= @recipe.instructions %>
</div>

<% if recipe_viewed_by_recipe_owner? %>
  <div>
      <%= link_to 'Edit this recipe.', edit_recipe_path %>
      <%= link_to 'Delete this recipe.', recipe_path(@recipe), :confirm => 'Are you sure?', :method => :delete %>
  </div>
<% end %>
<div>
    <% if logged_in? %>
      <%= link_to 'Add a comment.', new_recipe_comment_path(@recipe) %>
    <% end %>
</div>

<% unless @recipe.comments.empty? %>
  <div>
    <% @recipe.comments.each do |comment| %>
      <%= render :partial => 'comment', :locals => {:comment => comment}  %>
    <% end %>
  </div>
<% end %>